@model IEnumerable<WebMovies.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<br />
<form asp-action="Index">
    <div class="offset-md-3 row rounded-pill">
        <div class="col-md-6">
            <input type="text" name="searchString" class="form-control" />
        </div>
        <input type="submit" class="btn btn-primary col-md-1" value="Search" />
    </div>
</form>
<br />

<div class="row row-cols g-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card border-dark h-100">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="card-body">
                    <div class="card-text">@Html.DisplayFor(modelItem => item.Synopsis)</div>
                </div>
                <div class="card-footer">@Html.DisplayFor(modelItem => item.Director)</div>
            </div>
        </div>
    }
</div>
