@model IEnumerable<WebMovies.Models.Movie>

@{
    ViewData["Title"] = "All Movies";
}

<h1 class="fw-semibold mt-4">All Movies</h1>
<form method="get">
    <div class="row">
        <div class="col-5">
            <input type="text" name="SearchString" class="form-control rounded ms-2" placeholder="Search..." />
        </div>
        <div class="col-1">
            <button asp-action="Search" type="submit" class="btn btn-primary">
                Search
            </button>
        </div>
    </div>
</form>
<br />

<div class="row row-cols-5 g-3 px-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="@item.Poster" class="card-img"
                         alt="@item.Name Cover" />
                </a>
            </div>
        </div>
    }
</div>
